<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <!--    <meta http-equiv="refresh" content="10">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <title>SMW</title>
</head>

<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Stock Market Watcher</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/subscriptions">Subscription</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:text="'Logged in as ' + ${email}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>股票代码</th>
                    <th>实时价格</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="subscription : ${subscriptions}">
                    <td th:text="${subscription.symbol}">Symbol</td>
                    <td th:id="'price_'+${subscription.symbol}">(loading)</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
<div class="events"></div>
<script th:inline="javascript">
    var user =/*[[${email}]]*/ 'null';
    var clientWebSocket = new WebSocket("ws://localhost:8121/insecure/price-emitter");
    clientWebSocket.onopen = function() {
        console.log("clientWebSocket.onopen", clientWebSocket);
        console.log("clientWebSocket.readyState", "websocketstatus");
        clientWebSocket.send(user);
    }
    clientWebSocket.onclose = function(msg) {
        console.log("clientWebSocket.onclose", clientWebSocket, msg);
    }
    clientWebSocket.onerror = function(msg) {
        console.log("clientWebSocket.onerror", clientWebSocket, msg);
    }
    clientWebSocket.onmessage = function(msg) {
        var payload = msg.data.split(':');
        events(payload[0], payload[1]);
    }
    function events(stock, price) {
        console.log("stock:", stock, "price:", price);
        document.getElementById('price_'+stock).innerHTML = price;
    }

</script>
</html>