<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <properties resource="mybatis/mybatis.properties"/>

    <classPathEntry location="/Users/magicLuoMacBook/software/java/maven/mavenreposity/repository/mysql/mysql-connector-java/8.0.21/mysql-connector-java-8.0.21.jar"/>

    <context id="default" targetRuntime="MyBatis3">

        <!--<plugin type="org.mybatis.generator.plugins.BaseImportPlugin"/>-->
        <!--<plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" />-->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>

        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver" connectionURL="jdbc:mysql://localhost:3306/domain"
                        userId="root" password="123456"/>

        <!--<jdbcConnection driverClass="${jdbc.driver-class}" connectionURL="${jdbc.url}"
                        userId="${jdbc.username}" password="${jdbc.password}"/>-->

        <!-- Java 模型对象生辰器 -->
        <javaModelGenerator targetPackage="org.fufeng.batis.entity_"
                            targetProject="/Users/magicLuoMacBook/software/java/ideawork/im/gitlab/spring-in-thinking/spring-boot-projects/spring-boot-with-mybatis/src/main/java"/>

        <!-- SQL Mapper XML 生成器 -->
        <sqlMapGenerator  targetPackage="mybatis.mappers" targetProject="/Users/magicLuoMacBook/software/java/ideawork/im/gitlab/spring-in-thinking/spring-boot-projects/spring-boot-with-mybatis/src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- SQL Mapper Java 接口 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="org.fufeng.batis.mapper"
                             targetProject="/Users/magicLuoMacBook/software/java/ideawork/im/gitlab/spring-in-thinking/spring-boot-projects/spring-boot-with-mybatis/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table tableName="user">
            <generatedKey column="id" sqlStatement="mysql" identity="true"/>
            <columnOverride column="name" property="name"/>
            <columnOverride column="age" property="age"/>
            <columnOverride column="desc" property="description"/>
        </table>

        <!--enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"
               enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableInsert="true" enableDeleteByPrimaryKey="true"-->
    </context>
</generatorConfiguration>
